@using SklepInternetowy.Models
@model SklepInternetowy.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Sklep z suplementami";
}

<div class="container">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-center">
                    @foreach (var categories in Model.Categories)
                    {
                        <li>
                            <a href="@Url.Action("List", "Supplement", new {categoryname = categories.CategoryName.ToLower()})">
                                @categories.CategoryName
                            </a>
                        </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Products/gainer.png"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Products/wpc.jpg"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="bestsellerFlag"></div>
                        <img class="kurs" src="../Content/Products/preworkout.png"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul class="KursyTrzyKolumny duzaListaKursy">
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Products/vitamins.png"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Products/postworkout.png"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
            <li>
                <article>
                    <a class="dodajDoKoszykaLink" href="link">
                        <img src="../Content/Images/cart.png"/>
                    </a>
                    <a class="kursSzczegolyLink" href="link">
                        <div class="newFlag"></div>
                        <img class="kurs" src="../Content/Products/accessories.png"/>
                        <h1>
                            Tutaj będzie tytuł
                        </h1>
                    </a>
                </article>
            </li>
        </ul>
    </div>
</div>
</div>