
@{
    ViewBag.Title = "Spolcznosc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    
    <h2>Spolecznosc</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus mattis eu erat vel viverra.
    Nam sed risus id urna venenatis lacinia a dictum felis.
    Sed auctor sem eget semper commodo.
    Mauris nec aliquam metus, non pretium odio.
    Etiam pellentesque id mauris vitae consectetur.
    Donec euismod eget nisl sed tristique.
    Curabitur volutpat nisl dui, ut venenatis velit luctus ut. Ut rutrum interdum tempus.
    Donec fermentum pharetra arcu condimentum accumsan. Aliquam eu elementum dui, id egestas diam.
    In accumsan imperdiet lacinia. Donec sit amet ultrices sapien. Ut tincidunt dictum nunc non luctus.
    Sed vitae arcu pellentesque, bibendum nisl vel, varius mi.
    Integer accumsan magna eu nisi varius, elementum vestibulum neque volutpat.
    Mauris vel nibh augue.

</div>