@using MvcSiteMapProvider.Web.Html

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
<div class="row">
    <div class="col-md-3">

        @Html.Action("CategoriesMenu")
    </div>
    <div class="col-md-9">
        <nav class="breadcrumb">
            <img src="@Url.Content("~/Content/Images/minihouse.png")" />
            <a class="breadcrumb-item" href="#">
                @Html.MvcSiteMap().SiteMapPath()
            </a>

           
        </nav>

        @Html.Partial("_SupplementsList")

    </div>
</div>
    </div>

