@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
<div class="row">
    <div class="col-md-3">

        @Html.Action("CategoriesMenu")
    </div>
    <div class="col-md-9">
        <nav class="breadcrumb">
            <img src="../Content/Images/minihouse.png" />
            <a class="breadcrumb-item" href="#">Start</a>

            <span class="breadcrumb-item active">Białko</span>
        </nav>

        @Html.Partial("_SupplementsList")

    </div>
</div>
    </div>

